{{> header.hbs }}

{{#with chapter}}
    <div>
        <div class="uk-margin-small-top uk-section uk-section-large">
            <h2 class="moderate-bold uk-text-center uk-margin-remove-bottom">
                Section {{chapterNumber}}.{{section.sectionNumber}} - <b>{{section.name}}</b></h2>
            <p class="uk-text-center uk-margin-medium-bottom">Part of Chapter {{chapterNumber}}
                <a href="/textbook/{{chapterNumber}}">→</a></p>

            {{#if section.hasSectionConcepts}}
                <div class="left-subheading-margin">
                    <h3 class="light rem-1-8"><u>Important section concepts</u></h3>
                    <ul class="">
                        {{#each section.concepts}}
                            <li>
                                <p class="rem-1-2">
                                    {{#if url}}<a class="black" href="{{url}}">{{/if}}
                                    {{concept}}
                                    {{#if url}} {{> open-in-new.hbs }}</a>{{/if}}
                                </p>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            <div class="left-subheading-margin">
                <h3 class="light">
                    <a class="black"
                       href="/textbook/{{chapterNumber}}/{{section.sectionNumber}}/notes">
                        <u>Notes</u>
                        <a class="uk-inline" href="/textbook/{{chapterNumber}}/{{section.sectionNumber}}/notes">
                            <img width="20px" src="/icons/mbr/mbri-pages.svg" alt="pages">
                        </a>
                    </a>
                </h3>
            </div>

            <div class="left-subheading-margin">
                <h3 class="light uk-margin-remove-bottom"><u uk-tooltip="{{importance-explanation}}">Important</u>?</h3>
                <p class="uk-margin-remove-top">
                    {{#if section.important}}
                        Yes
                    {{else}}
                        No
                    {{/if}}
                </p>
            </div>

            {{#if section.additionalResources}}
                <div class="left-subheading-margin">
                    <h3 class="light"><u>Additional Resources</u></h3>
                    <ul class="uk-list">
                        {{#each section.additionalResources}}
                            <li>
                                <a href="{{path}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            {{#if section.reviewPages}}
                <div class="left-subheading-margin">
                    <h3 class="light"><u>Practice</u></h3>
                    <ul class="uk-list uk-list-bullet">
                        <li>
                            <a href="/textbook/{{chapterNumber}}/{{section.sectionNumber}}/practice">
                                Section {{chapterNumber}}.{{section.sectionNumber}} Practice </a>
                        </li>
                        {{#unless section.hasMultipleNotes}}
                            <li>
                                <a href="/aws/textbook/chapter{{chapterNumber}}/review/{{chapterNumber}}-{{section.sectionNumber}}/solutions{{chapterNumber}}-{{section.sectionNumber}}.pdf">
                                    Section {{chapterNumber}}.{{section.sectionNumber}} Practice Solutions </a>
                            </li>
                        {{/unless}}
                    </ul>
                </div>
            {{/if}}

        </div>
    </div>

{{/with}}

{{> footer.hbs }}