{{> header.hbs }}

{{#with chapter}}
    <div>
        <div class="uk-margin-small-top uk-section uk-section-large">
            <h2 class="moderate-bold uk-text-center uk-margin-medium-bottom">
                Chapter {{chapterNumber}} - <b>{{name}}</b></h2>

            {{#if hasChapterConcepts}}
                <div class="left-subheading-margin uk-width-1-3">
                    <h3 class="light rem-1-8"><u>Important concepts</u></h3>
                    <ul class="uk-list uk-list-bullet">
                        {{#each concepts}}
                            <li>
                                <p class="rem-1-2">
                                    {{#if url}}<a class="black" href="{{url}}">{{/if}}
                                    {{concept}}
                                    {{#if url}} {{> open-in-new.hbs }}</a>{{/if}}
                                </p>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            <div class="left-subheading-margin">
                <h3 class="light"><a class="black"
                                     href="/textbook/{{chapterNumber}}/notes"><u>Notes {{> open-in-new.hbs }}</u></a>
                </h3>
            </div>

            <div class="uk-width-1-4 left-subheading-margin">
                <h3 class="light"><u>Sections</u></h3>
                <ul uk-accordion>
                    {{#each sections}}
                        <li>
                            <a class="uk-accordion-title rem-1"
                               href="/textbook/{{chapterNumber}}/{{sectionNumber}}">
                                Section {{chapterNumber}}.{{sectionNumber}} > {{name}}
                                {{#if hasNotes}}
                                    <a class="uk-inline" href="/textbook/{{chapterNumber}}/{{sectionNumber}}/notes">
                                        <img width="20px" src="/icons/mbr/mbri-pages.svg" alt="pages">
                                    </a>
                                {{/if}}
                            </a>

                            <div class="uk-accordion-content rem-1">
                                <p>
                                    View
                                    <a href="/textbook/{{chapterNumber}}/{{sectionNumber}}">Section {{chapterNumber}}.{{sectionNumber}} →</a>
                                </p>
                            </div>
                        </li>
                    {{/each}}
                </ul>
            </div>

            {{#if additionalResources}}
                <div class="left-subheading-margin">
                    <h3 class="light"><u>Additional Resources</u></h3>
                    <ul class="uk-list">
                        {{#each additionalResources}}
                            <li>
                                <a href="{{path}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            {{/if}}

            <div class="left-subheading-margin">
                <h3 class="light"><u>Review</u></h3>
                <ul class="uk-list uk-list-bullet">
                    <li>
                        <p>See Sohalski or your textbook for chapter review</p>
                    </li>
                    <li>
                        <a href="/aws/textbook/chapter{{chapterNumber}}/review/chapter/chapter{{chapterNumber}}-review-solutions.pdf">
                            Chapter {{chapterNumber}} Textbook Review Solutions </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

{{/with}}

{{> footer.hbs }}