{{> header.hbs }}

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <div class="uk-text-center">
            <h2 class="moderate-bold">{{type}} List</h2>

            {{#each types}}
                <div class="uk-width-3-5 uk-margin-auto">
                    <h3 class="uk-text-center">{{first}}</h3>

                    <table class="uk-table-middle  uk-table uk-table-divider uk-table-large uk-table-hover">
                        <thead>
                        <tr class="uk-table-middle">
                            <th>Rule Name</th>
                            <th>{{type}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#each second}}
                            <tr>
                                <td class="uk-table-link"><a
                                        href="{{link-path}}/{{readable}}">
                                    {{readable}} {{> open-in-new.hbs}}</a>
                                </td>
                                <td>
                                    {{#if derivative}}
                                        \( \dfrac d{dx}[{{before}}] = {{after}} \)
                                    {{else}}
                                        {{#if integral}}
                                            {{#if isProperty}}
                                                \( {{before}} = {{after}} \)
                                            {{else}}
                                                \( \int {{before}} dx = {{after}} + C \)
                                            {{/if}}
                                        {{else}}
                                            {{math}}
                                        {{/if}}
                                    {{/if}}
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            {{/each}}
        </div>
    </div>
</div>

{{> footer.hbs }}